body {
background-color:blue;
color: beige;
font-family: verdana;
}

p {
text-align: center;
}

a {
  float: none;
  color: beige;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: red;
}

img:hover {
  opacity: 0.5;
  transition: opacity 0.2s transition 0.2s;

}

h3 {
  text-decoration: underline;
}

hr {
  color:white;
}

h6 {
  color:black;
}
